<?xml version="1.0"?>

<ruleset name="Orbis SiteGround">
	<config name="minimum_supported_wp_version" value="6.9"/>

	<config name="testVersion" value="8.2-"/>

	<file>.</file>

	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg value="sp"/>

	<exclude-pattern>build/*</exclude-pattern>
	<exclude-pattern>deploy/*</exclude-pattern>
	<exclude-pattern>languages/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>wordpress/*</exclude-pattern>

	<rule ref="PHPCompatibilityWP"/>

	<rule ref="WordPress">
		<exclude name="WordPress.DB.DirectDatabaseQuery.DirectQuery"/>
		<exclude name="WordPress.DB.DirectDatabaseQuery.NoCaching"/>

		<exclude name="WordPress.Files.FileName"/>

		<exclude name="WordPress.WP.AlternativeFunctions.file_get_contents_file_get_contents"/>
	</rule>

	<rule ref="Universal.Arrays.DisallowShortArraySyntax">
		<exclude-pattern>*</exclude-pattern>
	</rule>

	<!-- Exception messages are escaped where they are displayed. -->
	<rule ref="WordPress.Security.EscapeOutput.ExceptionNotEscaped">
		<exclude-pattern>*</exclude-pattern>
	</rule>
</ruleset>
